

.hidden {
    display: none;
}

.grid {
    border: solid;
    display: grid;
    width: fit-content;
}

.grass {
    background-image: url(assets/grass.png);
}
.road {
    background-image: url(assets/road1.png);
}
.road-curved {
    background-image: url(assets/road-curved.png);
}

.water {
    background-image: url(assets/water.png);
}
.bck-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease;
}